
.header {
    background-color: #1F2937;
    font-family: 'Roboto';
    overflow: auto;    
}

.top-header {
   display: flex; 
   justify-content: space-around; 
   gap: 100px; 
}

.logo {
    padding-top: 15px;
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 60px;  
    color:#E5E7EB;     
}

a:hover {
    text-decoration:underline;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.center-header {
    display: flex; 
    justify-content: space-evenly; 
    padding-top: 50px;
    padding-bottom: 50px;   
}

.left-header {

}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;   
}

.hero-second {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 20px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color:#F9FAF8;
    padding: 5px 15px ;
    border: none;
    margin-top: 20px; 
}

img {
    height: 220px;
    width: 26%;  
    
    overflow: hidden; 
}

.information{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
}

.image_with_subtext {
    display: flex;
    justify-content: center;
    gap: 60px; 
    

}
.image_container {
    flex-wrap: wrap;
    max-width: 190px; 

}
.subtext {
    text-align: center;
    color: #676769;

}

.four_image {
    width: 90%; 
    height: 160px; 
    border-style: solid ;
    border-color: #639dea ;
    border-radius: 10px;
    border-width: 5px;
}

